body {
	background-image: url("../images/Amazing-Crystal.jpg");
	background-size: 200px;
}

h1 {
	background-color: #FF1493;
	color: black;
	display:block;
	padding: 10px;
	margin:0 auto;
	margin-left: 500px;
	margin-right: 500px;
	border: solid 5px #32CD32;
	text-align: center;
}


#wrapper {
	width: 100%
	max-width:960px;
	margin: 0 auto;

}

#instructions {
	background-color: black;
	width: 45%;
	clear:both;
	padding: 15px;
	margin: 0 auto;
	margin-top: 50px;
	border: solid 10px #32CD32;
	color: #FF1493;
}

#guessingNumber {
	background-color: #C5B358;
	display: flex;
	justify-content:center;
	align-items: center;
	padding: 10px;
	margin-top: 20px;
	margin-left: 375px;
	margin-right: 750px;
	border: solid 1px #00FFFF;
}

#scoreboard {
	background-color: #00FFFF;
	display: flex;
	justify-content:center;
	align-items: center;
	margin:0 auto;
	padding: 15px;
	margin-top: -88px;
	margin-left: 750px;
	margin-right: 375px;
	border: solid 1px #C5B358;

}

#crystals {
	margin-top: 15px;
	margin-bottom:26px;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	margin-top: 30px;

}

.crystalImage {
	height: 200px;
	border: solid 2px #32CD32;
	margin-left: 10px;
}

.crystalImage:firstchild {
	margin-left: 0px;

}

#totalScore {
	display:flex;
	margin:0 auto;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

#yts {
	background: #FF00FF;
	display: inline;
	padding: 20px;
	border: solid 1px #ddd;
}
